[user]
	email = szczygiel.p@gmail.com
	name = Piotr Szczygieł

[init]
	defaultBranch = master

[apply]
	whitespace = warn

[core]
	autocrlf = input
	editor = hx
	pager = delta
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[push]
	default = simple

[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[includeIf "gitdir/i:C:/work/"]
	path = .gitconfig-work
