[user]
	email = szczygiel.p@gmail.com
	name = Piotr Szczygieł

[init]
	defaultBranch = master

[apply]
	whitespace = warn

[core]
	autocrlf = input
	editor = hx
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe

[push]
	default = simple

[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[includeIf "gitdir/i:C:/work/"]
	path = .gitconfig-work
