[user]
	email = szczygiel.p@gmail.com
	name = Piotr Szczygieł
[apply]
	whitespace = warn
[core]
	autocrlf = input
	editor = subl --wait
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[push]
	default = simple
[merge]
	tool = smerge
[credential]
	helper = manager
[includeIf "gitdir/i:C/ibm/"]
	path = "C:/ibm/.gitconfig"
